html {
	scroll-snap-type: y mandatory;
}
.app {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: rgb(42, 42, 42);
}
.app_header {
	text-align: center;
	justify-content: center;
}

.app_header > img {
	height: 22vh;
}

.app_videos {
	background-color: rgb(44, 35, 44);
	height: 50vh;
	width: 66%;
	border-radius: 20px;
	max-width: 830px;
	max-height: 700px;
	overflow: scroll;
	scroll-snap-type: y mandatory;
	box-shadow: 0px 0px 15px 3px #c6f1f7;
}
.app_videos::-webkit-scrollbar {
	display: none;
}
.audio {
	display: none;
}
@media (max-width: 770px) {
	.app_header > img {
		height: 15vh;
	}
	.app_videos {
		height: 60vh;
	}
}
